.header{
 display: block;
 text-align: center;
}

.text{
    color: white;
    padding: 10px;
    font-size: larger;
    font-weight: 500;
}

.container-score{
    display: flex;
    justify-content: center;
}

.score-box{
    padding-top: 15px;
    color: white;
    border: 2px solid white;
    height: 100px;
    width: 250px;
    font-size: 26px;
    border-radius: 10px 10px;
}
